<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
    <ion-content has-header="true" padding="true">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/1mv7l0mbUdJ1qG-CPEMB7T2M4CQkqfJuHGKyD2602tB0/pubchart?oid=50771870&format=interactive">
        </iframe>
    </ion-content>
</ion-view>
