<ion-view title="Photon Types">
    <ion-content padding="true">

        <div class="page-wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar">
                    <li class="sidebar-header"><a>CoreTypes</a></li>
                    <li class="sidebar-title">
                        <span>coreTypes</span><a class="icon-new-channel" ng-click="createNewChannel()"><i class="fa fa-plus"></i></a>
                    </li>
                    <li class="sidebar-list" ng-repeat="channel in coreTypes">
                        <a ng-click="switchChannel(channel)"><span class="channel-hashtag">#</span>{{channel.name}}</a>
                    </li>
                    <li class="sidebar-title"><span>Separator</span></li>
                    <li class="sidebar-list" ng-class="{'active': activeChannel == core.coreid}" ng-repeat="core in cores">
                        <a ng-click="switchIM(core)">
                            <i class="fa fa-circle presence_icon" ng-class="{connected: 'icon-green'}"></i>
                            <span class="im-title">{{core.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="message-container" scroll-glue="scrollDown">

                {{coreTypes}}

                <p>---</p>
                <p>---</p>

                {{cores}}

                <p>---</p>
                <p>---</p>

                <p>
                    <a class="button icon ion-home" href="#/tab/home"> Home</a>
                    <a class="button icon ion-chevron-left" href="#/tab/google"> Google Chart</a>
                </p>

            </div>
        </div>

    </ion-content>
</ion-view>
